* text=auto !eol
/.includepath -text
/Build.PL -text
/Changes -text
/INSTALL -text
/LICENSE -text
/MANIFEST.SKIP -text
/Makefile.PL -text
/build.xml -text
etc/Invoice_0001.doc -text
etc/Invoice_0002.doc -text
etc/MW1_Consulting_Agmt_with_J_Thalhammer.doc -text
lib/Perl/Critic/Policy/Modules/RequireExplicitInclusion.pm -text
lib/Perl/Critic/Policy/Subroutines/ProhibitCallsToUndeclaredSubs.pm -text
lib/Perl/Critic/Policy/Subroutines/ProhibitCallsToUnexportedSubs.pm -text
lib/Perl/Critic/Policy/Subroutines/ProhibitExportingUndeclaredSubs.pm -text
lib/Perl/Critic/Policy/Subroutines/ProhibitQualifiedSubDeclarations.pm -text
lib/Perl/Critic/StricterSubs.pm -text
lib/Perl/Critic/StricterSubs/Utils.pm -text
t/20_policies.t -text
t/40_criticize.t -text
t/40_perlcriticrc -text
t/93_version.t -text
t/94_includes.t -text
t/95_kwalitee.t -text
t/97_spelling.t -text
t/98_pod_syntax.t -text
t/99_pod_coverage.t -text
t/Modules/RequireExplicitInclusion.run -text
t/Subroutines/ProhibitCallsToUndeclaredSubs.run -text
t/Subroutines/ProhibitCallsToUnexportedSubs.run -text
t/Subroutines/ProhibitExportingUndeclaredSubs.run -text
t/Subroutines/ProhibitQualifiedSubDeclarations.run -text
t/tlib/EmptyExports.pm -text
t/tlib/HasExports.pm -text
t/tlib/NoExports.pm -text
